:root {
  --color-dark-primary: #665a4e;
  --color-primary: #AAA39D;
  --color-light-grey: #ecebe9;
  --color-dark-olive: #68846D;
  --color-olive: #A5BDA5;
  --color-light-olive: #EBF0EB;
  --color-black: #171411;
  --color-white: #ffffff;
  --font-basic: Satoshi-Regular, Arial, Helvetica, sans-serif;
  --font-Clash: ClashDisplay-Variable, Arial, Helvetica, sans-serif;
  --width: 90rem;
  --moveaway: clamp(0rem, -9.2502rem + 15.417vw, 4.625rem);
}

.popular-products, .buy-chairs__box-hero {
  display: flex;
  flex-direction: column;
}

.header-inner, .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav, .shopping-cart__badge, .menu-icon, .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 1rem;
}

.popular-product__price, .buy-chairs__subtitel {
  font-size: 1.125rem;
}

.popular-product__titel {
  font-size: 1.25rem;
}

.buy-chairs__titel {
  font-size: 2rem;
}

.menu__item::first-letter {
  text-transform: uppercase;
}

.menu__item-link:hover, .btn-link {
  transition: all 0.5s ease;
}

/* ---------- 2.Basic style----------*/
/* 2.1 Basic tags */
body {
  margin: 0;
  background-color: var(--color-white, #ffffff);
  font-family: var(--font-basic);
}

h1,
h2,
h3 {
  font-weight: 400;
}

/* 2.2 Basic class */
.container {
  margin: 0 auto;
  max-width: var(--width);
  box-sizing: border-box;
}

.container_padding {
  padding: 0 clamp(1.5rem, 1.24211rem + 1.058vw, 1.75rem);
}

.section_margin {
  margin-left: var(--moveaway);
  margin-right: var(--moveaway);
}

/* logo */
.icon {
  font-family: "icomoon";
  color: var(--color-dark-primary, #665a4e);
  font-size: 1rem;
}
.icon_padding {
  padding: 0.375rem;
}
.icon_padding:hover {
  cursor: pointer;
  color: var(--color-black, #171411);
}

.btn-link {
  display: inline-block;
  padding: 1rem 2rem;
  max-width: max-content;
  box-sizing: border-box;
  text-align: center;
}
.btn-link_bg-l-grey {
  color: var(--color-dark-primary, #665a4e);
  background-color: var(--color-light-grey, #ecebe9);
}
.btn-link_bg-l-grey:is(:hover, :focus) {
  background-color: var(--color-olive, #A5BDA5);
}
.btn-link_color-white {
  color: var(--color-white, #ffffff);
}

.header-inner {
  width: 100%;
}
.header-top {
  position: relative;
  width: 100%;
}
.header-top_padding {
  padding: clamp(1rem, -0.95rem + 8vw, 1.75rem) 0;
}
.header-top_border {
  border-bottom: 1px solid rgba(102, 90, 78, 0.15);
}

.menu-icon {
  position: absolute;
  right: 0;
  gap: 0.25rem;
}

.shopping-cart {
  position: relative;
}
.shopping-cart__badge {
  width: 0.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0.625rem;
  right: 0;
  position: absolute;
  background-color: var(--color-dark-olive, #68846D);
}
.shopping-cart__badge-sum {
  font-size: 0.6rem;
  color: var(--color-white, #ffffff);
}

.language {
  color: var(--color-dark-primary, #665a4e);
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0;
}
.language option {
  background-color: var(--color-light-grey, #ecebe9);
  color: var(--color-black, #171411);
}
.language option:checked {
  color: var(--color-black, #171411);
}

.button-burger {
  display: none;
  border: none;
  background-color: transparent;
}

.nav {
  max-width: 45vmax;
  width: 100%;
  min-width: 31.25rem;
}
.nav_padding {
  padding: 1.125rem 0;
}

.menu {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.menu__item .menu__item-link_activ {
  color: var(--color-black, #171411);
}
.menu__item-link {
  position: relative;
  cursor: pointer;
  color: var(--color-dark-primary, #665a4e);
}
.menu__item-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--color-dark-primary, #665a4e);
  transition: width 0.5s;
}
.menu__item-link:hover {
  color: var(--color-black, #171411);
}
.menu__item-link:hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: var(--color-black, #171411);
  transition: width 0.5s;
}

@media screen and (max-width: 767.98px) {
  .header-top {
    justify-content: start;
  }
}
@media screen and (max-width: 575.98px) {
  .header-top_border {
    border-bottom: none;
  }
  .button-burger {
    display: block;
  }
  .nav {
    display: none;
  }
}
.buy-chairs__box {
  --mar: clamp(1.25rem, -3.91144rem + 10.753vw, 3.75rem);
  margin-top: var(--mar);
  margin-bottom: var(--mar);
  box-sizing: border-box;
  display: flex;
  font-weight: 400;
  background-color: var(--color-dark-primary, #665a4e);
  color: var(--color-white, #ffffff);
}
.buy-chairs__box-hero {
  --pad60: clamp(2.5rem, 1.75008rem + 2.222vw, 3.75rem);
  --pad24: clamp(1.5rem, 0.15rem + 4vw, 3.75rem);
  padding: var(--pad60) var(--pad24);
  min-width: 290px;
}
.buy-chairs__titel {
  font-family: var(--font-Clash);
  line-height: 1.4;
}
.buy-chairs__btn {
  background-color: rgba(249, 249, 249, 0.15);
  color: var(--color-white, #ffffff);
  margin-top: 2.5rem;
}
.buy-chairs__btn:is(:hover, :focus) {
  background-color: rgba(249, 249, 249, 0.3);
}
.buy-chairs__subtitel {
  font-family: var(--font-basic);
  line-height: 1.5;
  margin-top: clamp(2.5rem, -3.57152rem + 12.649vw, 7.8125rem);
}
.buy-chairs__img {
  max-width: 520px;
  width: 100%;
  min-width: 290px;
}
.buy-chairs__img img {
  width: 100%;
}

.popular-products {
  box-sizing: border-box;
  color: var(--color-dark-primary, #665a4e);
  margin-top: clamp(3rem, 1.20011rem + 5.333vw, 5rem);
  margin-bottom: clamp(2.375rem, 1.3625rem + 3vw, 3.5rem);
}
.popular-products__titel {
  font-size: clamp(1.25rem, 0.575rem + 2vw, 2rem);
}
.popular-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  gap: 1.25rem;
}
.popular-products .btn-link {
  align-self: center;
}

.popular-product {
  margin-top: clamp(1.1875rem, 0.5125rem + 2vw, 1.9375rem);
  margin-bottom: clamp(1.875rem, 1.5375rem + 1vw, 2.25rem);
}
.popular-product__titel {
  font-family: var(--font-Clash);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.popular-product__name {
  text-wrap: nowrap;
}
.popular-product__price {
  line-height: 150%;
}
.popular-product__img {
  align-self: center;
  width: 100%;
}

@media screen and (max-width: 959.98px) {
  .buy-chairs.container_padding {
    padding: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .buy-chairs__img {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .buy-chairs__box {
    --mar: 0;
  }
  .buy-chairs__btn {
    order: 3;
    max-width: 100%;
  }
  .buy-chairs__subtitel {
    order: 2;
  }
  .popular-products__btn {
    max-width: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=styles-home.css.map */