:root {
  --color-dark-primary: #665a4e;
  --color-primary: #AAA39D;
  --color-light-grey: #AAA39D;
  --color-dark-olive: #68846D;
  --color-olive: #A5BDA5;
  --color-light-olive: #EBF0EB;
  --color-black: #171411;
  --color-white: #ffffff;
  --color-btn-link1: rgba(236, 235, 233, 0.15);
  --font-basic: Satoshi-Regular, Arial, Helvetica, sans-serif;
  --font-Clash: ClashDisplay-Variable, Arial, Helvetica, sans-serif;
  --width: 90rem;
  --moveaway: clamp(0rem, -9.2502rem + 15.417vw, 4.625rem);
}

/* ---------- 2.Basic style----------*/
/* 2.1 Basic tags */
body {
  margin: 0;
  background-color: var(--color-primary, #AAA39D);
  font-family: var(--font-basic);
}

h1 {
  font-weight: 400;
}

/* 2.2 Basic class */
.container {
  margin: 0 auto;
  max-width: var(--width);
  box-sizing: border-box;
}

.container_padding {
  padding: 0 clamp(1.5rem, 1.24211rem + 1.058vw, 1.75rem);
}

.section_margin {
  margin-left: var(--moveaway);
  margin-right: var(--moveaway);
}

/* logo */
.icon {
  font-family: "icomoon";
  color: var(--color-dark-primary, #665a4e);
  font-size: 1rem;
}
.icon_padding {
  padding: 0.375rem;
}
.icon_padding:hover {
  cursor: pointer;
  color: var(--color-black, #171411);
}

.btn-link {
  display: inline-block;
  padding: 1rem 2rem;
  max-width: fit-content;
  text-align: center;
}
.btn-link__bg-grey {
  background-color: var(--color-btn-link1, rgba(236, 235, 233, 0.15));
}
.btn-link__color-white {
  color: var(--color-white, #ffffff);
}

.header-inner {
  width: 100%;
}
.header-top {
  position: relative;
  width: 100%;
}
.header-top_padding {
  padding: 1.75rem 0;
}
.header-top_border {
  border-bottom: 1px solid rgba(102, 90, 78, 0.15);
}

.menu-icon {
  position: absolute;
  right: 0;
  gap: 0.25rem;
}

.shopping-cart {
  position: relative;
}
.shopping-cart__badge {
  width: 0.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0.625rem;
  right: 0;
  position: absolute;
  background-color: var(--color-dark-olive, #68846D);
}
.shopping-cart__badge-sum {
  font-size: 0.6rem;
  color: var(--color-white, #ffffff);
}

.language {
  color: var(--color-dark-primary, #665a4e);
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0;
}
.language option {
  background-color: var(--color-light-grey, #AAA39D);
  color: var(--color-black, #171411);
}
.language option:checked {
  color: var(--color-black, #171411);
}

.button-burger {
  display: none;
  border: none;
  background-color: transparent;
}

.nav {
  max-width: 45vmax;
  width: 100%;
  min-width: 31.25rem;
}
.nav_padding {
  padding: 1.125rem 0;
}

.menu {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.menu__item .menu__item-link_activ {
  color: var(--color-black, #171411);
}
.menu__item-link {
  position: relative;
  cursor: pointer;
  color: var(--color-dark-primary, #665a4e);
}
.menu__item-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--color-dark-primary, #665a4e);
  transition: width 0.5s;
}
.menu__item-link:hover {
  color: var(--color-black, #171411);
}
.menu__item-link:hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: var(--color-black, #171411);
  transition: width 0.5s;
}

.buy-chairs {
  --mar: clamp(1.25rem, -3.91144rem + 10.753vw, 3.75rem);
  margin-top: var(--mar);
  margin-bottom: var(--mar);
  box-sizing: border-box;
  display: flex;
  font-weight: 400;
  background-color: var(--color-dark-primary, #665a4e);
  color: var(--color-white, #ffffff);
}
.buy-chairs__box-hero {
  display: flex;
  flex-direction: column;
  --pad60: clamp(2.5rem, 1.75008rem + 2.222vw, 3.75rem);
  --pad24: clamp(1.5rem, 0.15rem + 4vw, 3.75rem);
  padding: var(--pad60) var(--pad24);
  min-width: 290px;
}
.buy-chairs__titel {
  font-family: var(--font-Clash);
  font-size: 2rem;
  line-height: 1.4;
}
.buy-chairs__btn {
  background-color: var(--color-btn-link1, rgba(236, 235, 233, 0.15));
  color: var(--color-white, #ffffff);
  margin-top: 2.5rem;
}
.buy-chairs__subtitel {
  font-family: var(--font-basic);
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: clamp(2.5rem, -3.57152rem + 12.649vw, 7.8125rem);
}
.buy-chairs__img {
  max-width: 520px;
  min-width: 290px;
  width: 100%;
}
.buy-chairs__img img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  main.main {
    padding: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .buy-chairs__img {
    display: none;
  }
}
@media screen and (max-width: 539.98px) {
  .buy-chairs {
    --mar: 0;
  }
  .buy-chairs__btn {
    order: 3;
    max-width: 100%;
  }
  .buy-chairs__subtitel {
    order: 2;
  }
}
.header, .header-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-top, .menu-icon, .shopping-cart__badge, .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, h2 {
  font-size: 1rem;
}

.menu__item::first-letter {
  text-transform: uppercase;
}

.menu__item-link:hover {
  transition: all 0.5s ease;
}/*# sourceMappingURL=styles-home.css.map */