/* ---------- 2.Basic style----------*/
/* 2.1 Basic tags */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--color-white, $color-white);
  font-family: var(--font-basic);
  @extend %font-size-s;
  
}

h1,
h2,
h3 {
  font-weight: 400;
}

/* 2.2 Basic class */
.container {
  margin: 0 auto;
  max-width: var(--width);
  box-sizing: border-box;
  // border: 2px solid rgb(16, 119, 27);
}

.container_padding {
  padding: 0 var(--padding);
}

.section_margin {
  margin-left: var(--moveaway); //540px - 0
  margin-right: var(--moveaway); //540px - 0
}

/* logo */
.logo {
  display: inline-block;
  width: 6.875rem; //110px;
  height: 1rem;

  &__img {
    width: 100%;
    height: 100%;
  }
}


.icon {
  font-family: 'icomoon';
  color: var(--color-dark-primary, $color-dark-primary);
  font-size: 1rem; //16px

  &_padding {
    padding: .375rem; //6px;

    &:hover {
      cursor: pointer;
      color: var(--color-black, $color-black);
    }
  }
}

.btn-link {
  display: inline-block;
  padding: 1rem 2rem; //16px 32px;
  max-width: max-content;
  box-sizing: border-box;
  text-align: center;
  @extend %transition;
  border: none;

  &_bg-l-grey {
    color: var(--color-dark-primary, $color-dark-primary);
    background-color: var(--color-light-grey, $color-light-grey);

    &:is(:hover, :focus) {
      background-color: var(--color-olive, $color-olive);
    }
  }

  &_bg-dr-primary {
    color: var(--color-white, $color-white);
    background-color: var(--color-dark-primary, $color-dark-primary);

    &:is(:hover, :focus) {
      background-color: #17141199;
    }
  }

  &_bg-white {
    color: var(--color-dark-primary, $color-dark-primary);
    background-color: var(--color-white, $color-white);

    &:is(:hover, :focus) {
      background-color: var(--color-light-grey, $color-light-grey);
    }
  }

  &_color-white {
    color: var(--color-white, $color-white);
  }
}

.form {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  border: none;

  & label {
    display: none;
  }

  & input {
    box-sizing: border-box;
    --pad: clamp(1rem, -1.60008rem + 10.667vw, 2rem);
    outline: transparent;
    width: 100%;
    border: none;
    @extend %font-size-s;
    color: var(--color-white, $color-white);
    background-color: var(--color-light-grey, $color-light-grey);
    padding-left: var(--pad);
    padding-right: var(--pad);
    cursor: pointer;

    &::placeholder {
      color: var(--color-dark-primary, $color-dark-primary);
      opacity: 0.2;
    }

    &:hover {
      background-color: var(--color-olive, $color-olive);
    }

    &:focus {
      background-color: var(--color-dark-olive, $color-dark-olive);
    }
  }

  & button {
    @extend %font-size-s;
    border: none;
    line-height: 1.5;
    cursor: pointer;
  }
}