/* ---------- 2.Basic style----------*/
/* 2.1 Basic tags */
body {
  margin: 0;
  background-color: var(--color-primary, $color-primary);
  font-family: var(--font-basic);
  @extend %font-size-s;
}

a {
  text-decoration: none;
}

h2 {
  @extend %font-size-s;
}

/* 2.2 Basic class */
.container {
  margin: 0 auto;
  max-width: var(--width);
  box-sizing: border-box;
  border: 2px solid rgb(16, 119, 27);
}

.container_padding {
  padding: 0 clamp(1.5rem, 1.24211rem + 1.058vw, 1.75rem);
}

.box-padding {
  padding-left: clamp(1.5rem, -0.37515rem + 5.556vw, 4.625rem);
  padding-right: clamp(1.5rem, -0.37515rem + 5.556vw, 4.625rem);
}

.section_padding {
  overflow: hidden;
}

/* logo */
.logo {}

.icon {
  font-family: 'icomoon';
  color: var(--color-dark-primary, $color-dark-primary);
  font-size: 1rem; //16px

  &_padding {
    padding: .375rem; //6px;

    &:hover {
      cursor: pointer;
      color: var(--color-black, $color-black);
    }
  }
}

.btn-link {
  &__padding {
    padding: 1rem 2rem; //16px 32px;
  }
}