/* ---------- 2.Basic style----------*/
/* 2.1 Basic tags */
body {
  margin: 0;
  background-color: var(--color-primary, $color-primary);
  font-family: var(--font-basic);
  @extend %font-size-s;
}

h1 {
  font-weight: 400;
}

h2 {
  @extend %font-size-s;
}

/* 2.2 Basic class */
.container {
  margin: 0 auto;
  max-width: var(--width);
  box-sizing: border-box;
  // border: 2px solid rgb(16, 119, 27);
}

.container_padding {
  padding: 0 clamp(1.5rem, 1.24211rem + 1.058vw, 1.75rem);
}

.section_margin {
  margin-left: var(--moveaway); //540px - 0
  margin-right: var(--moveaway); //540px - 0
}

/* logo */
.logo {}

.icon {
  font-family: 'icomoon';
  color: var(--color-dark-primary, $color-dark-primary);
  font-size: 1rem; //16px

  &_padding {
    padding: .375rem; //6px;

    &:hover {
      cursor: pointer;
      color: var(--color-black, $color-black);
    }
  }
}

.btn-link {
  display: inline-block;
  padding: 1rem 2rem; //16px 32px;
  max-width: fit-content;
  text-align: center;

  &__bg-grey {
    background-color: var(--color-btn-link1, $color-btn-link1);
  }
  &__color-white {
    color: var(--color-white, $color-white);
  }
}