%flex-col{
  display: flex;
  flex-direction: column;
}

%flex-center {
  justify-content: center;
  align-items: center;
}

%flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Font-size
//16px
%font-size-s {
  font-size: 1rem;
}

//18px
%font-size-m {
  font-size: 1.125rem;
}

//20px
%font-size-l {
  font-size: 1.25rem;
}

//24px
%font-size-xl {
  font-size: 2rem;
}

//32px
%font-size-xxl {
  font-size: 2rem;
}


%text-uppercase {
  text-transform: uppercase;
}

%transition {
  transition: all 0.5s ease;
}
