%flex-col{
  display: flex;
  flex-direction: column;
}

%flex-center {
  justify-content: center;
  align-items: center;
}

%flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Font-size
//16px
%font-size-s {
  font-size: 1rem;
}

//32px
%font-size-xl {
  font-size: 2rem;
}
//24px
//16px
//18px
//20px

//color

%text-uppercase {
  text-transform: uppercase;
}
%transition {
  transition: all 0.5s ease;
}
