/* ---------- HEADER ----------*/
header {
  height: 100%;
  border: 2px solid red;
}

.header {
  background: var(--background-black);
  border: 2px solid red;
}

/* nav */
.nav {
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: var(--nav-height-desktop, $nav-height-desktop);
}

.menu {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  width: clamp(14.875rem, 13.78049rem + 3.243vw, 16.375rem);
  margin-left: 20px;
  margin-right: 20px;
}

.menu-link {
  position: relative;
  @extend %RobotoMedium-14px-Upp;
  color: var(--color-grey, $color-grey);
  // text-wrap: nowrap;
  cursor: pointer;
  padding: 8px 0px;
  transition: all 0.5s ease;
  &:hover {
    color: var(--color-orange, $color-orange);
  }
  &:after {
    @extend %menu-link-hover;
    right: 0;
    width: 0;
    background-color: var(--color-grey, $color-grey); // Цвет подчеркивания при исчезании линии
  }
  &:hover:after {
    @extend %menu-link-hover;
    left: 0;
    width: 100%;
    background-color: red; /* Цвет подчеркивания при появлении линии*/
  }
}

.link-active {
  color: var(--color-orange, $color-orange);
}

/* switch-theme */
.switch-theme {
  justify-self: end;
  width: 3.75rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: orange;
}

/* main-screen */

.main-screen {
  height: calc(100% - var(--nav-height-desktop));
  background: orange;
}

