//Color
$color-dark-primary: #665a4e; //Dark Primary
$color-primary: #AAA39D; //Primary
$color-light-grey: #AAA39D;//Light Grey
$color-dark-olive: #68846D; //Dark olive
$color-olive: #A5BDA5; //olive
$color-light-olive: #EBF0EB; //Light olive
$color-black: #171411;
$color-white: #ffffff;

$color-btn-link: #ecebe926;

//Fonts
$font-basic: 'Satoshi-Regular', Arial, Helvetica, sans-serif;
$font-Clash: "ClashDisplay-Variable", Arial, Helvetica, sans-serif;

// box
$width: 90rem; //1440px;


:root {
    // Color
    --color-dark-primary: #{$color-dark-primary}; //var(--color-dark-primary, $color-dark-primary);
    --color-primary: #{$color-primary}; //var(--color-primary, $color-primary);
    --color-light-grey: #{$color-light-grey}; //var(--color-light-grey, $color-light-grey);
    --color-dark-olive: #{$color-dark-olive}; //var(--color-dark-olive, $color-dark-olive);
    --color-olive: #{$color-olive}; //var(--color-olive, $color-olive);
    --color-light-olive: #{$color-light-olive}; //var(--color-olive, $color-light-olive);
    --color-black: #{$color-black}; //var(--color-black, $color-black);
    --color-white: #{$color-white}; //var(--color-white, $color-white);

    --color-btn-link: #{$color-btn-link}; //var(--color-btn-link, $color-btn-link);
    
    //Fonts
    --font-basic: #{$font-basic}; //var(--font-basic);
    --font-Clash: #{$font-Clash}; //var(--font-Clash);

    // size
    // --nav-height-desktop: #{$nav-height-desktop}; //var(--nav-height-desktop, $nav-height-desktop);

    // box
    --width: #{$width};

}