//MAIN
.buy-chairs {
  &__box {
    --mar: clamp(1.25rem, -3.91144rem + 10.753vw, 3.75rem);
    margin-top: var(--mar);
    margin-bottom: var(--mar);
    box-sizing: border-box;

    display: flex;
    font-weight: 400;
    background-color: var(--color-dark-primary, $color-dark-primary);
    color: var(--color-white, $color-white);
  }

  &__box-hero {
    @extend %flex-col;
    --pad60: clamp(2.5rem, 1.75008rem + 2.222vw, 3.75rem);
    --pad24: clamp(1.5rem, 0.15rem + 4vw, 3.75rem);
    padding: var(--pad60) var(--pad24);
    min-width: 290px;
  }

  &__title {
    font-family: var(--font-Clash);
    @extend %font-size-xxl;
    line-height: 1.4;
  }

  &__btn {
    background-color: rgba(249, 249, 249, 0.15);
    color: var(--color-white, $color-white);
    margin-top: 2.5rem; //40px

    &:is(:hover, :focus) {
      background-color: rgba(249, 249, 249, 0.3);
    }
  }

  &__subtitle {
    font-family: var(--font-basic);
    @extend %font-size-m;
    line-height: 1.5;
    margin-top: clamp(2.5rem, -3.57152rem + 12.649vw, 7.8125rem);
  }

  &__img {
    max-width: 520px;
    width: 100%;
    min-width: 290px;

    & img {
      width: 100%;
    }
  }
}

//Популярні продукти
.popular-products {
  @extend %flex-col;
  box-sizing: border-box;
  color: var(--color-dark-primary, $color-dark-primary);
  margin-top: clamp(3rem, 1.20011rem + 5.333vw, 5rem);
  margin-bottom: clamp(2.375rem, 1.3625rem + 3vw, 3.5rem);

  &__title {
    font-size: clamp(1.25rem, 0.575rem + 2vw, 2rem);
  }

  &__list {
    margin-top: clamp(1.1875rem, 0.5125rem + 2vw, 1.9375rem);
    margin-bottom: clamp(1.875rem, 1.5375rem + 1vw, 2.25rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    place-items: start center;
    gap: 1rem 1.25rem; //20px
  }

  .btn-link {
    align-self: center;
  }
}

.popular-product {
  --gap: .5rem; //8px;

  &__title {
    font-family: var(--font-Clash);
    @extend %font-size-l;
    margin-top: 1.5rem; //24px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  &__name {
    text-wrap: nowrap;
  }

  &__price {
    margin-top: var(--gap);
    @extend %font-size-m;
    line-height: 1.5;
  }

  &__img {
    align-self: center;
    // min-width: 10.125rem; //162px;
    width: 100%;
  }
}

//Приєднуйтесь до нас
.join-in {
  background-color: var(--color-light-grey, $color-light-grey);
  padding-top: 52px;
  padding-bottom: 65px;
  color: var(--color-dark-primary, $color-dark-primary);
  text-align: center;

  &__box {
    background-color: var(--color-white, $color-white);
    @extend %flex-col-center;
  }

  &__boxbox {
    padding-top: clamp(3rem, 1.87511rem + 3.333vw, 4.25rem); //540
    padding-bottom: clamp(2.375rem, 1.47489rem + 2.667vw, 3.375rem);
    max-width: 470px;
  }

  &__title {
    font-family: var(--font-Clash);
    font-size: 2.25rem; //36px
    line-height: 1.4;

  }

  &__subtitle {
    margin-top: 1rem; //16px
    margin-bottom: clamp(1rem, -0.79989rem + 5.333vw, 3rem);
    text-wrap: balance;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    // width: 100%;
    border: none;

    & input {
      --pad: clamp(1rem, -1.60008rem + 10.667vw, 2rem);
      outline: transparent;
      width: 100%;
      border: none;
      @extend %font-size-s;
      color: var(--color-white, $color-white);
      background-color: var(--color-light-grey, $color-light-grey);
      padding-left: var(--pad);
      padding-right: var(--pad);

      &::placeholder {
        color: var(--color-dark-primary, $color-dark-primary);
        opacity: 0.2;
      }

      &:hover {
        background-color: var(--color-olive, $color-olive);
      }

      &:focus {
        background-color: var(--color-dark-olive, $color-dark-olive);
      }
    }

    & button {
      @extend %font-size-s;
      border: none;
      line-height: 1.5;
    }
  }
}

//История бренда
.brand-history {
  &__box {
    display: flex;
  }
  &__article {
    display: flex;
    flex-direction: column;
    row-gap: 1.5625rem; //25px

    margin-top: 72px;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 959.98px) {
  .buy-chairs.container_padding {
    padding: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .buy-chairs__img {
    display: none;
  }

  .popular-products {
    &__list {
      grid-template-columns: repeat(2, minmax(140px, 1fr));
    }
  }
}

@media screen and (max-width: 575.98px) {
  .buy-chairs {
    &__box {
      --mar: 0;
    }

    &__btn {
      order: 3;
      max-width: 100%;
    }

    &__subtitle {
      order: 2;
    }
  }

  .popular-products {
    &__btn {
      max-width: 100%;
      width: 100%;
    }
  }

  .join-in__title span {
    display: none;
  }

  .join-in {
    padding: 0;

    &>.container_padding {
      padding: 0;
    }
  }

  [data-join-in="padding"] {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}