/* ---------- 4.MAIN ----------*/
/*  */
.top-films {
  margin-top: 80px;
  & header {
    @extend %flex-spaseB;
    margin-bottom: 28px;
  }
}

.top-films__link-all {
  font-family: var(--font-Roboto);
  font-weight: 500;
  font-size: 28px;
  color: var(--color-orange, $color-orange);
  transition: all 0.5s ease;
  &:hover {
    color: var(--color-white, $color-white); // Меняем цвет текста
  }
}

/* cards */
.cards-films {
  @extend %grid;
}

.card-film {
  aspect-ratio: 1 / 1.45;
  border-radius: 5px;
  border: 1px solid red;
}

.film-info-short {
  @extend %flex-spaseB;
}

.film-genre {
  display: flex;
}

.film-icons {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.film-quickly {
  width: 100%;
  margin-top: 60px;
}

.quickly-box {
  @extend %grid;
  height: 458px;
  margin: 28px 0;
  border: 2px solid red;
  & :nth-child(1n) {
    background: rgb(132, 38, 38);
  }
}

.quickly-poster {
  
  grid-column: 1 / span 2;
  border: 2px solid rgb(0, 94, 255);
}

.quickly-info {
  color: black;
  border: 2px solid rgb(0, 255, 17);
}
